body {
    font-family: Times;
    color: #333;
}

#post-edit {
    width: 600px;
    padding: 20px;
    margin: 30px auto;
}

#post-edit > h1 {
    margin: 0 0 10px;
    font-size: 36px;
    font-weight: bold;
}

#post-edit > p {
    margin: 0;
    padding: 15px 0;
    font-size: 16px;
    font-style: italic;
}

#post-edit > div {
    font-size: 20px;
    background: #e8e8e8;
    line-height: 30px;
}

[contenteditable]:focus {
    outline: none;
}

.highlightable-tooltip {
    position: absolute;
    top: -10px; left: -10px;
    padding: 5px;
    border-radius: 3px;
    background: #000;
    list-style-type: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.2s ease;
}

.highlightable-tooltip-active {
    opacity: 1;
}

.highlightable-tooltip > li {
    display: inline-block;
    padding: 5px 10px;
    color: #f8f8f8;
    cursor: pointer;
    border-radius: 3px;
    transition: text-shadow 0.2s ease, 
                box-shadow 0.2s ease, 
                background-color 0.2s ease;
    user-select: none;
}

.highlightable-tooltip > li:hover {
    text-shadow: 1px 1px 2px #000;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: #383838;
}

.highlightable-bold {
    font-weight: bold;
    text-transform: uppercase;
}

.highlightable-italic {
    font-style: italic;
    text-transform: lowercase;
}