<!DOCTYPE html>
<html>
  <head>
    <title>ng Test</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body data-ng-app="editorApp">

    <div data-ng-controller="PostCtrl" id="post-edit">

      <h1 data-ng-model="post.title" contenteditable data-ignore-return></h1>
      <p data-ng-model="post.meta.author" contenteditable data-ignore-return></p>
      <div data-ng-model="post.body" contenteditable data-highlightable></div>

    </div>

    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="js/modules/editor.js"></script>
    <script src="js/services/rangeUtility.js"></script>
    <script src="js/services/editorUtility.js"></script>
    <script src="js/controllers/post.js"></script>
    <script src="js/directives/contenteditable.js"></script>
    <script src="js/directives/highlightable.js"></script>
    <script src="js/directives/quote.js"></script>
  </body>
</html>